/* src/App.css */
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; /* Necesario para posicionar el pseudo-elemento */
  color: white;
}

/* Capa de fondo con imagen */
.App::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./images/e80e37e2-5436-494e-b0ae-d62ded1e6d23.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.5; /* Ajusta este valor entre 0 y 1 para controlar la opacidad */
  z-index: -1; /* Envía la capa de fondo detrás del contenido */
}
